<style>
    footer {
        position: fixed;
    }
</style>

<div class="container p-4">
    <div class="row">
        <div class="coll-md-5 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/Productos/add" method="POST" enctype="multipart/form-data" id="editProductForm">
                        <div class="mb-3">
                            <input type="text" name="nombre" class="form-control" placeholder="Nombre del Producto"
                                autofocus required="required">
                        </div>
                        <div class="mb-3">
                            <input type="text" name="stock" class="form-control"
                                placeholder="Cantidad del producto en Stock" autofocus required="required">
                        </div>
                        <div class="mb-3">
                            <textarea name="descripcion" rows="2" class="form-control"
                                placeholder="Descripcion del Producto" required="required"></textarea>
                        </div>
                        <div class="mb-3">
                            <input type="text" name="precio" class="form-control" placeholder="Precio del Producto"
                                autofocus required="required">
                        </div>
                        <div class="mb-3">
                            <input type="file" name="url" class="form-control" placeholder="suba su img del Producto">
                        </div>
                        <div class="mb-3">
                            <select name="id_categoria" class="form-select" aria-label="Default select example">
                                <option selected> selecciona una categoria</option>
                                <option value="1">Ataud</option>
                                <option value="2">Servicio</option>
                            </select>
                        </div>
                        <div class="d-grip gap-2">
                            <button class="btn btn-success btn-block">
                                save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>