<main   class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <a href="/Productos/inicio" class="btn btn-primary">
                Entrar a ver productos
            </a>
        </div>
    </header>
</main>