<div id="info-main-container">
    <div id="info-container" class="container container-fluid">
        <div id="infoc" class="row row-cols-1 row-cols-md-2 justify-content-end">
            <div class="col-md-6">
                <h4>¿Quienes somos?</h4>
                <p>En Funeraria Anderson, nos enorgullece ser mucho más que un simple proveedor de servicios funerarios. Desde nuestro establecimiento en el año 2020, nos hemos dedicado apasionadamente a la creación de ataúdes artesanales, elevando la artesanía funeraria a nuevas alturas. Somos una empresa comprometida con la dignidad y el respeto hacia los seres queridos que han partido, y consideramos que cada uno de nuestros ataúdes es una obra maestra única.</p>
            </div>
        </div>
    </div>

    <div id="info-container" class="container container-fluid">
        <div id="infod" class="row row-cols-1 row-cols-md-2 justify-content-start">
            <div class="col-md-6">
                <h4>¿Cual es nuestra misión?</h4>
                <p>En Funeraria Anderson, nuestra misión es ofrecer a las familias un tributo digno y respetuoso a sus seres queridos a través de la fabricación artesanal de ataúdes. Nos esforzamos por proporcionar productos de alta calidad que no solo cumplan con los estándares más exigentes, sino que también reflejen el amor y el cuidado que merecen aquellos que han fallecido. Nuestra misión es ser un faro de consuelo y apoyo en momentos difíciles, ofreciendo ataúdes que no solo son funcionales sino también testimonios de la belleza y la artesanía.</p>
            </div>
        </div>
    </div>

        <div id="info-container" class="container container-fluid">
        <div id="infoh" class="row row-cols-1 row-cols-md-2 justify-content-end">
            <div class="col-md-6">
                <h4>¿Cual es nuestra visión?</h4>
                <p>Nos visualizamos como líderes en la industria funeraria, conocidos por nuestras creaciones únicas y artesanales. Aspiramos a ser reconocidos como más que una funeraria: un lugar donde la artesanía, la compasión y el profesionalismo se fusionan para brindar consuelo y respeto a las familias en duelo. Buscamos expandir nuestro legado, llegando a ser la elección preferida para aquellos que buscan ataúdes que reflejen la individualidad y la vida única de sus seres queridos.</p>
            </div>
        </div>
    </div>
</div>

