<style>
    footer{
        position: fixed;
    }
</style>

<main id="">
        <div id="contact" class="container justify-content-center align-items-center">
            <div class="row justify-content-center">
                <div id="text" class="col-md-6">
                    <h4>Contactenos</h4>
                    <p>Comuníquese con nosotros y reciba información de nuestros asesores</p>
                    <h6> <i class="fas fa-map-marker-alt"></i> Jr. José Sabogal N° 839 </h6>
                    <h6> <i class="fas fa-phone"></i> +51 961 809 498</h6>
                    <h6> <i class="fas fa-envelope"></i>funeraria.anderson@gmail.com</h6>
                </div>
                
                <div class="col-md-6">
                    <form class="row justify-content-start">
                        <div id="inputs" class="form-grup">
                            <input type="text" class="form-control rounded-0" placeholder="Nombre">
                        </div>
                        <div id="inputs" class="form-grup">
                            <input type="text" class="form-control rounded-0" placeholder="Email">
                        </div>
                        <div id="inputs" class="form-grup" >
                            <textarea type="text" class="form-control rounded-0" placeholder="Mensaje" maxlength="200"></textarea>
                        </div>
                        <button class="btn col-md-3 col-sm-3">ENVIAR</button>
                    </form>
                </div>

                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2796.2899662047244!2d-78.04731394659287!3d-7.623712807072524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91adf89edf8fd915%3A0xd0e9b26e41dc9889!2sJose%20Sabogal%20849%2C%20Cajabamba%2006351!5e0!3m2!1ses-419!2spe!4v1700501509723!5m2!1ses-419!2spe" width="100%" height="500px" style="border-radius:10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        
</main>